@import url("./assets/css/base.css");
@import url("./assets/css/reset.css");

.stroke-font{
    -webkit-text-fill-color: transparent; 
    color: transparent;
    -webkit-text-stroke: 2px;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

